@import 'tailwindcss';

@theme {
  --font-nunito: 'Nunito', 'sans-serif';
}
@theme {
  --font-noto-bengali: 'Noto Sans Bengali', 'sans-serif';
}

.slick-dots {
  bottom: 12px !important;
}

.slick-dots li button::before {
  color: red !important;
}

@theme {
  --breakpoint-mobile: 20rem;
  --breakpoint-tablet: 38.75rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-computer: 100rem;
}

.truncate-html {
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
